*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bodyFormat{
  background:linear-gradient( rgb(4, 110, 0), rgb(17, 70, 9),rgb( 5, 110, 0));
  color:rgb(248, 240, 227);
}
.darkMode{
  background:linear-gradient(rgb(81,80,80), rgb(31, 30, 30), rgb(81, 80, 80) );
  color:rgb(248, 240, 227);
}
.darkModeAdd{
  background:linear-gradient(rgb(81,80,80), rgb(31, 30, 30), rgb(81, 80, 80) );
  border-color: none;
  color:rgb(248, 240, 227);
}
main { 
  max-width: 1200px; 
  width: 90%; /* Adjust percentage based on design requirements */
  margin: 0 auto; /* Centers the content horizontally */ 
}
#center-all{
  text-align: center;
}
#homeMargin{
  margin-top: 50px;
  margin-bottom: 50px;
}
/* class to bold individual elements*/
.bold{
  font-weight:bold;
}
img{
  width:100%;
  max-width: 350px;
}
a{
  color:rgb(4, 242, 0);
  text-decoration: none;
}
.link_space{
  margin:0 5px;
}
#intro-spacing{
  text-align: justify;
  align-items: center;
}
fieldset{
  border:none;
}
.img{
  box-shadow: 0 0 3px 3px rgb(9,255,0);
  border-radius: 9px;
}
table th, td{
  border:1px solid rgba(0, 255, 0, 0.631);

}
ol li{
  text-align: center;
  list-style-position: inside;
}
table{
  margin:auto;
  padding-bottom: 1rem;
}

/* form customization, need to fix*/
.red-form{
  width:70vw;
  margin:0 auto;
  padding-bottom: 2rem;
  font-size: large;
}
.jan28{
  display:block;
  
}
#jan28{
  background:linear-gradient(rgb(69, 0, 0), rgba(136, 22, 22, 0.906),rgb(69, 0, 0));
  color:rgb(255,235,205);
}
.music-space{
  margin-right:20px;;
}
#dropdown {
  height: 20px;
}
#favChicken{
  height:50px;
}

 option, select{
  border:none;
  color:rgb(255,235,205);
  background:linear-gradient(rgb(244, 120, 120), rgb(255,0,0), rgb(244,120,120));
  border-radius: 15px;
  margin-left:10px ;
  margin-top: 10px;
}
.formholder::placeholder{
  color:rgb(255,235,205);
  text-align: center;
}
.red{
  color:red;
}
.red-input{
  background:linear-gradient(rgb(244, 120, 120), rgb(255,0,0), rgb(244,120,120));
  border:none;
  border-radius:15px;;
  color:antiquewhite;
  height:20px;
  text-align: center;
}
.bor{
  border-bottom: 1px solid red;
}
#submit{
  margin-top: 2rem;
  width:100px;
  background: rgba(245, 6, 6, 0.885);
  font-weight:bold;
  color:rgb(255,235,205);
  border-radius: 15px;
}
/* nav customization*/
#navSeperate{
  border-top: solid rgba(0, 255, 21, .7) 1px;
  width:500px;
  margin:auto;
  margin-top: 15px;
}
#navTwo{
  margin-top: 10px;
}
/*below controls web eval*/
#web-eval{
  box-sizing: border-box;
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap:70px;
  max-width:1000px;
  margin: auto;
  padding:20px 20px;
}
#website-web-eval{
  max-width: 250px;
  height: 650px;
  align-items: center;
}
#website-web-eval > #psum{
margin-top: 0;
}
#website-web-eval > ul > li > h4{
  margin-bottom: 0;
  color:gold;
}
#website-web-eval > ul > li > p{
  margin-top:0;
}
.gimmiespace{
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.yellow{
  color:gold;
}
.no_style{
  list-style:upper-roman;
}
.centering{
  text-align: center;
  align-content: center;
}
/*Making the hover pulsate*/
@keyframes pulsate {
  100%{
    text-shadow:
    0 0 7px rgb(250, 255, 0),
    0 0 14px rgb(251, 255, 0),
    0 0 17px rgb(250,255,0),
    0 0 24px rgb(250,255,0),
    0 0 34px rgb(250, 255, 0);
  }

}a:hover{
  animation:pulsate 1.0s infinite alternate;
  color:yellow;
}
  /*making glowing text for firstsripts*/
@keyframes pulsateRGB {
  0%{
   color: rgb(255, 117, 117);
   text-shadow:
   0 0 7px rgb(227, 13, 13),
   0 0 14px rgb(227, 13, 13),
   0 0 17px rgb(227, 13, 13),
   0 0 24px rgb(227, 13, 13),
   0 0 34px rgb(227, 13, 13);
  }
  25%{
    color:pink;
    text-shadow:
    0 0 7px rgb(241, 89, 182),
    0 0 14px rgb(241, 89, 182),
    0 0 17px rgb(241, 89, 182),
    0 0 24px rgb(241, 89, 182),
    0 0 34px rgb(241, 89, 182);
  }
  50%{
    color: rgb(0, 255, 251);
    text-shadow:
    0 0 7px rgb(0, 255, 251),
    0 0 14px rgb(0, 255, 251),
    0 0 17px rgb(0, 255, 251),
    0 0 24px rgb(0, 255, 251),
    0 0 34px rgb(0, 255, 251);
  }
  100%{
    color: rgb(0, 255, 21);
    text-shadow:
    0 0 7px rgb(0, 255, 21),
    0 0 14px rgb(0, 255, 21),
    0 0 17px rgb(0, 255, 21),
    0 0 24px rgb(0, 255, 21),
    0 0 34px rgb(0, 255, 21);
  }
  
}
/*JS glow*/
#gnameresponse{
  animation:pulsateRGB 5.0s ease-in-out infinite;
  color:white;
}
.fs_space{
  margin-left: .25rem;
  margin-bottom: .5rem;
  border: none;
  background: rgb(248, 240, 227);
  color:black;
}
.feb18round{
  border-radius: 10px;
  background:rgb(248, 240, 227);
  color:rgb(131, 70, 0);
  font-size:medium
}
.feb18round::placeholder{
  text-align: center;
  color:black;
}
/*BYO Form*/
#byo-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: large;
}
#byo-form > label > input{
  border-radius: 10px;
  margin: 10px auto;
}
#bottom-buttons{
  display:flex;
  flex-direction: row;
  gap:25px;
    width: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#classResponse > input{
  display:flex;
  flex-direction: column;
  border-radius: 10px;
}
#byoLoadImg{
  width:170px;
  margin:auto;
}
#introFile{
  border: 1px solid red;
}







/*Media Queries*/
/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
  #colorbox {
      background-color:yellow;
  }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
  #colorbox {
      background-color:orange;
  }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
  #colorbox {
      background-color:red;
  }
}