body {
  background: #D2B48C;
  color: rgb(10,10,10);
  font-family: Tahoma;
}
p{
  font-size: 20px;
}
.peppy {
  align: center;
  border:none;
}
legend{
  font-weight: bold;
  font-size: 20px;
}
.teeth {
border:none;
font-size: 10px;
}

#gren{
  color: #DC143C;
  font-size: 20px;
}
.gren{
  text-align: center;
}
.center{
  text-align:center;
}