*{
  box-sizing: border-box;
}
body {
  background: rgb(77, 57, 37);
  color: rgb(250, 223, 202);
  font-family: Tahoma;
}
p{
  font-size: 20px;
}
#pep{
  margin-bottom: 50px;
}
div{
  display: block;
  width: 75%;
  max-width: 350px;
  align-content: center;
  margin: auto;
}
iframe{
  width:100%;
  max-width: 350px;
}
.peppy {
  align: center;
  border:none;
}
legend{
  font-weight: bold;
  font-size: 20px;
}
.teeth {
border:none;
font-size: 10px;
}
@keyframes pulsate {
  100%{
    text-shadow:
    0 0 7px rgb(0,255,0),
    0 0 14px rgb(0,255,0),
    0 0 17px rgb(0,255,0),
    0 0 24px rgb(0,255,0),
    0 0 34px rgb(0,255,0);
  }
  
}
#gren{
  color: rgb(200,255,200);
  font-size: 30px;
  font-weight: bold;
  animation:pulsate 1.5s infinite alternate;
}
.gren{
  text-align: center;
}
a{
  text-decoration: none;
}
.center{
  text-align:center;
}