<footer>
    <a class="link_space" href="https://webpages.charlotte.edu/ehenriq3/">Charlotte.edu</a>
    <a class="link_space" href="https://github.com/edwxrd7">Github</a>
    <a class="link_space" href="https://github.com/edwxrd7/itis3135">Course Github</a>
    <a class="link_space" href="https://www.freecodecamp.org/edwardh7">freeCodeCamp</a>
    <a class="link_space" href="https://www.codecademy.com/profiles/css2918182977">Codeacademy</a>
    <a class="link_space" href="https://www.linkedin.com/in/edward-henriquez-418b122aa/">LinkedIn</a>
</footer>
<p>Page Built by <a href="enigmatichamster.com/">Enigmatic Hamster Enterprises</a>, <a href="https://www.freecodecamp.org/certification/edwardh7/responsive-web-design">Certified in RWD</a> &copy;2023</p>
