<footer class="center-all">
    <a class="link_space" href="https://webpages.charlotte.edu/ehenriq3/">Charlotte.edu</a>
    🎧
    <a class="link_space" href="https://github.com/edwxrd7">GitHub.com</a>
    🎧
    <a class="link_space" href="https://github.com/edwxrd7/itis3135">Github.io</a>
🎧
    <a class="link_space" href="https://www.freecodecamp.org/edwardh7">freeCodeCamp</a>
    🎧
    <a class="link_space" href="https://www.codecademy.com/profiles/css2918182977">Codeacademy</a>
    🎧
    <a class="link_space" href="https://www.linkedin.com/in/edward-henriquez-418b122aa/">LinkedIn</a>
</footer>
<p class="center-all">Page Built by <a href="enigmatichamster.com/">Edward Henriquez Enterprises</a>, Certified in <a href="https://www.freecodecamp.org/certification/edwardh7/responsive-web-design">RWD</a> & <a href="https://www.freecodecamp.org/certification/edwardh7/javascript-algorithms-and-data-structures-v8">JS </a>&copy;2024</p>
<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html"><button class="css-vali vm">CSS Validation</button></a>
   <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css"><button class="html-vali vm">HTML Validation</button></a>
    <a href="https://wave.webaim.org/report#/" id="validation_link_wave">   <button class="w3c-vali vm">WCAG Validation</button></a>
     <script>
        document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        document.getElementById("validation_link_wave").setAttribute("href", "https://wave.webaim.org/report#/" + location.href);
     </script>
     <p><i>Amplify Your World</i></p>