<header class="center-all">
    <h1>Edward Henriquez Enigmatic Hamster 🎧 ITIS 3135</h1>
    <nav>
        <a class="link_space special-nav" href="scrap/index.html">scrap</a>
        🎧
        <a class="link_space special-nav" href="./">Home</a>
        🎧
        <a class="link_space special-nav" href="introduction.html">Introduction</a>
        🎧
        <a class="link_space special-nav" href="contract.html">Contract</a>
        🎧
        <a class="link_space special-nav" href="tables.html">Tables</a>
        🎧 
        <a class="link_space special-nav" href="forms.html">Form</a>
        🎧
        <a class="link_space special-nav" href="website_evaluations.html">Web Eval</a>
        🎧
        <a class="link_space special-nav" href="firstscripts.html">Scripts</a>
        🎧
        <a class="link_space special-nav" href="about.html">About</a>
        🎧
        <a class="link_space special-nav" href="byo_intro.html">BYO Intro</a>
        🎧
        <a class="link_space special-nav" href="calculator_try.html">Calculator</a>
        🎧
        <a class="link_space special-nav" href="arrays.html">Arrays</a>
        🎧
        <a class="link_space special-nav" href="project_overview.html">Project 1</a>
        🎧
        <a class="link_space special-nav" href="drawing.html">Drawing</a>
    </nav>
    <div class="navSeperate"></div>
    <nav class="navTwo">
        🎧 <a class="special-nav" href="Crappy/@LETS7 VIBE.htm">Crappy</a> 🎧
        <a class="link_space special-nav" href="hobby/index.html">Hobby</a> 🎧
    </nav>
</header>
