<header id="center-all">
    <h1>Edward Henriquez Enigmatic Hamster || ITIS 3135</h1>
    <nav>
        <a class="link_space" href="./">Home</a>
        🎧
        <a class="link_space" href="introduction.html">Introduction</a>
        🎧
        <a class="link_space" href="contract.html">Contract</a>
        🎧
        <a class="link_space" href="tables.html">HTML Tables</a>
        🎧
        <a class="link_space" href="forms.html">HTML Form</a>
        🎧
        <a class="link_space" href="website_evaluations.html">Web Evaluations</a>
        🎧
        <a class="link_space" href="firstscripts.html">FirstScripts</a>
        🎧
        <a class="link_space" href="about.html">About</a>
        🎧
        <!-- <a class="link_space" href="byo_intro.html">BYO Intro</a> -->
    </nav>
    <div id="navSeperate"></div>
    <nav id="navTwo">
        🎧 <a href="Crappy/@LETS7 VIBE.htm">Crappy</a> 🎧
    </nav>
</header>