<header id="center-all">
    <h1>Edward Henriquez Enigmatic Hamster || ITIS 3135</h1>
    <nav>
        <a class="link_space special-nav" href="./">Home</a>
        🎧
        <a class="link_space special-nav" href="introduction.html">Introduction</a>
        🎧
        <a class="link_space special-nav" href="contract.html">Contract</a>
        🎧
        <a class="link_space special-nav" href="tables.html">HTML Tables</a>
        🎧
        <a class="link_space special-nav" href="forms.html">HTML Form</a>
        🎧
        <a class="link_space special-nav" href="website_evaluations.html">Web Evaluations</a>
        🎧
        <a class="link_space special-nav" href="firstscripts.html">FirstScripts</a>
        🎧
        <a class="link_space special-nav" href="about.html">About</a>
        🎧
        <a class="link_space special-nav" href="byo_intro.html">BYO Intro</a>
        🎧
        <a class="link_space special-nav" href="calculator_try.html">HTML Calculator</a>
        🎧
        <a class="link_space special-nav" href="arrays.html">Arrays</a>
        🎧
        <a class="link_space special-nav" href="project_overview.html">Arrays</a>
    </nav>
    <div id="navSeperate"></div>
    <nav id="navTwo">
        🎧 <a class="special-nav" href="Crappy/@LETS7 VIBE.htm">Crappy</a> 🎧
    </nav>
</header>
